<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DurationValues</key>
	<array>
		<integer>1</integer>
		<integer>7</integer>
		<integer>30</integer>
		<integer>365</integer>
	</array>
	<key>QuantityTypes</key>
	<array>
		<string>pastillas</string>
		<string>cucharadas</string>
		<string>gotas</string>
	</array>
	<key>Quantities</key>
	<array>
		<dict>
			<key>name</key>
			<string>1/4</string>
			<key>value</key>
			<real>0.25</real>
		</dict>
		<dict>
			<key>value</key>
			<real>0.5</real>
			<key>name</key>
			<string>1/2</string>
		</dict>
	</array>
	<key>DurationTypes</key>
	<array>
		<string>días</string>
		<string>semanas</string>
		<string>meses</string>
		<string>años</string>
	</array>
</dict>
</plist>
